  <div class="card card-width">
    <div class="row g-0">
      <div class="col-md-5">
        <ng-container *ngIf="isCharacter(data)">
          <img src="{{data.image}}" class="img-fluid rounded-start" alt="...">
        </ng-container>
        <ng-container *ngIf="isEpisode(data)">
          <img src="../../../assets/rickmorty.jpg" class="img-epi rounded-start" alt="...">
        </ng-container>
      </div>
      <div class="col-md-7">
        <div class="card-body d-flex flex-column ps-0">
          <h5 class="card-title">
            <ng-container *ngIf="isCharacter(data)">
              <a [routerLink]="['/details', data.id]" routerLinkActive="router-link-active" class="text-decoration-none"
                (click)=" sendCharacterData($event)">
                {{data.name}}
              </a>
            </ng-container>
            <ng-container *ngIf="isEpisode(data)">
              <a [routerLink]="['/details', data.id]" routerLinkActive="router-link-active" class="text-decoration-none"
                (click)="sendEpisodeData($event)">
                {{data.name}}
              </a>
            </ng-container>
          </h5>
          <ng-container *ngIf="isCharacter(data)">
            <p class="card-text mb-3 text-white">Status: {{data.status}} - {{data.gender}}</p>
            <p class="card-text lh-sm text-one mb-0"> Ultima localização:</p>
            <small class="text-white">
              {{data.location?.name}}</small>
          </ng-container>
          <ng-container *ngIf="isEpisode(data)">
            <p class="card-text mb-1 text-white">Air Date: {{data.air_date}}</p>
            <p class="card-text lh-sm text-one mb-0">Episode:</p>
            <small class="text-white">
              {{data.episode}}</small>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
