<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <h5 class="navbar-brand">
        <a [routerLink]="['/']" class="text-decoration-none">
          Rick n Morty
        </a>
      </h5>
    </div>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/']" class="list-group-item list-group-item-action bg-light">Personagens</a>
      <a [routerLink]="['/episodes']" class="list-group-item list-group-item-action bg-light">Episodios</a>
      <a [routerLink]="['/places']" class="list-group-item list-group-item-action bg-light">Lugares</a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search"
              (input)="onSearch($event)">
          </form>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
