<div class="container mt-4 col-md-5">
  <div class="card card-width">
    <div class="row g-0">
      <ng-container *ngIf="char">
        <div class="col-md-5">
          <img src="{{character.image}}" class="img-fluid rounded-start" alt="{{character.name}}">
        </div>
        <div class="col-md-7">
          <div class="card-body d-flex flex-column card-column">
            <h5 class="card-title">
              {{character.name}}
            </h5>
            <p class="card-text mb-3"><span class="text-one">Status:</span> {{character.status}} - {{character.gender}}
            </p>
            <p class="card-text lh-sm text-one mb-0">Ultima localização:</p>
            <small class="mb-3">
              {{character.location?.name}}</small>
            <p class="card-text text-one mb-0">Primeira aparição:</p>
            <small class="" *ngIf="character.episode">
              {{character.episode[0]}}</small>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="epi === true">
        <div class="col-md-6">
          <img src="../../../assets/rickmorty.jpg" class="img-fluid img-epi rounded-start" alt="teste">
        </div>
        <div class="col-md-6 ps-3">
          <div class="card-body d-flex flex-column ps-0">
            <h5 class="card-title">
              {{dataDetails?.name}}
            </h5>
            <p class="card-text mb-2"><span class="text-one">Episodio:</span> {{dataDetails?.episode}}</p>
            <p class="card-text lh-sm text-one mb-0">Data exibição:</p>
            <small class="mb-1">{{dataDetails?.air_date}}</small>
            <p class="card-text text-one mb-0">URL:</p>
            <small class="">{{dataDetails?.url}}</small>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
